{
    "extends": "@oathompsonjones/eslint-config/TypeScript/Node",
    "ignorePatterns": [
        "Ignore",
        "**/*.js"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    }
}